body{
    font-weight: 100px;
    background-color: #fff;
    font-family: Times, serif;
    padding: 50px;
    margin: 50px;
    text-align: justify;
}

.head {
        margin: 0.5rem 0 1.5rem;
        text-align: center;
        color: rgba(0,0,0,.95);
        font-family: CopperPot,Helvetica,sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        text-underline-offset: 0.375rem;
        background-color: white;
}

.menu {
      margin-top: 24px;

}        

.fufu-img {
            width : 200px;
            height : 200px;
    }
.fufu {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      margin-left: 16px;
      font-family: SourceSansPro,Helvetica,sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
    }

.fufu-list {
           margin-bottom: 24px;
}

.madesu-img {
            width : 200px;
            height : 200px;
}
.madesu {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        margin-left: 16px;
        font-family: SourceSansPro,Helvetica,sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
}

.madesu-list {
  margin-bottom: 24px;
}

.loso-img {
          width : 200px;
          height : 200px;
}

.loso {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      margin-left: 16px;
      font-family: SourceSansPro,Helvetica,sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
}

.loso-list {
  margin-bottom: 24px;
}

.mbala-img {
          width : 200px;
          height : 200px;
}
.mbala {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        margin-left: 16px;
        font-family: SourceSansPro,Helvetica,sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
}
              